

<div>
  <% if @profile.user == current_user %>
    <h1>Account</h1>
    <p>Created: <%= time_ago_in_words(current_user.created_at) %></p>
    <p>Email: <%= current_user.email %></p>      
    <% if can? :update, @profile %>
      <%= link_to 'Edit account', edit_user_registration_path(@profile) %><br><br>
    <% end %>
    <% if can? :update, @profile %>
      <%= link_to 'Delete account', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<h1>Profile</h1>

<div>
  <%= @profile.images.attached? ? (image_tag @profile.images.first, alt:'Profile picture') : (image_tag 'default_profile', alt:'Default profile picture') %>
</div>

<p><%= @profile.user.username %></p>
<p><%= @profile.location.region %></p>
<p><%= @profile.user_type %></p>

<% if current_user == @profile.user %>
  <p><%= @profile.first_name %></p>
  <p><%= @profile.last_name %></p>
<% end %>

<h2>Listings</h2>

<% @profile.user.listings.each do |listing|%>
  <p><%= listing.ad_type.capitalize %> - <%= listing.year %> <%= listing.make %> <%= listing.model %> <%= link_to "Show", listing %></p>
<% end %>
