<h1><%= @listing.ad_type.capitalize %> - <%= @listing.year %> <%= @listing.make %> <%= @listing.model %> </h1>
<h2><%= number_to_currency(@listing.price) %></h2>

<%# Images go in here %>
<%= @listing.images.attached? ? (image_tag @listing.images.first, alt:'Image of car for sale') : (image_tag 'default_car', alt:'Default car image') %>

<p>Odometer - <%= @listing.odometer %></p>
<p>Engine - <%= @listing.engine %></p>
<p>Transmission - <%= @listing.transmission %></p>
<p>Trim - <%= @listing.trim %></p>
<p>Body style - <%= @listing.body_style %></p>
<p>Registration - <%= @listing.registration_number %></p>
<p>Roadworthy - <%= @listing.roadworthy.capitalize %></p>
<p>Condition - <%= @listing.condition.capitalize %></p>

<p><%= @listing.description %></p>

<h3>Seller info</h3>
<p> <%= @profile.user.username %></p>
<p> <%= @profile.location.state %> - <%= @profile.location.region %></p>
<p> <%= @profile.status.capitalize %></p>

<%= link_to 'Back', listings_path %>