<h1>Wanted Cars</h1>

<div class="list-container">
  <% @listings.each do |listing| %>
    <div class="card mb-3" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= listing.images.attached? ? (image_tag listing.images.first, alt:'Image of car for sale') : (image_tag 'default_car', alt:'Default car image') %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= listing.year %> <%= listing.make %> <%= listing.model %> | <%= number_to_currency(listing.price) %> <%= link_to "Show", listing %></h5>
            <p class="card-text"><%= listing.odometer %> kms</p>
            <p class="card-text"><%= listing.transmission %></p>
            <p class="card-text"><%= listing.user.profile.location.region %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "Add a new listing", new_listing_path %>
