<h1>Wanted Cars</h1>

<ul>
  <% @listings.each do |listing| %>
    <li><%= listing.year %> <%= listing.make %> <%= listing.model %> | <%= number_to_currency(listing.price) %> <%= link_to "Show", listing %></li>
  <% end %>
</ul>

<%= link_to "Add a new listing", new_listing_path %>
